{% extends 'layout.html.twig' %}


{% block title %}Categories{% endblock %}
{% block content %}
    <section>
        <h1>Les catégories</h1>
        <ul>
            {% for category in categories %}
                <li>{{ category.name }} <a href="/category/edit/{id}"> Edit</a></li>
            {% endfor %}
        </ul>
    </section>
    <a href="categories/add">ajouter</a>
{% endblock %}